{% load static %}
<html>
<head>
   <meta charset="utf-8">
    <title>Mi primer programa</title>
     <meta name="viewport" content="width=device-width, user-scalable=no , initial-scale=1, maximum-scale=1,minimun-scale=1">
    <link rel="stylesheet" href="dv.css">
    <link href="{% static 'css/styloReclamo.css' %}" rel="stylesheet">
</head>
<body>

    <div id="container" class="home">

        <div id="content">
            <div id="pWrapper">
                <div id="pHead" class="phead-v2">
                    <ul class="submenu">
                        <li><a href="{%url "home" %}" id="home">Home</a></li>
                        <li>&gt;</li>
                        <li class="off">Sistema de Reclamos</li>
                    </ul>
                    <div class="clear"></div>
                    <h1 class="reclamos">Sistema de Reclamos</h1>
                </div>
                <div id="main-wrapper-contacto">
                    <h2 class="reclamos">Si tienes algún reclamo sobre el servicio <br>
                        y requieres asistencia puedes completar el siguiente formulario</h2>
                    <br>
                    
                    <!--Start FORM-->
                    <div class="content-form">
                        <p><span class="ast">(*)</span>Campos Requeridos</p>
                        <form method="post" action="./formularioReclamo.aspx" id="form1" enctype="multipart/form-data">
            <div class="aspNetHidden">
            <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="">
            <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="">
            <input type="hidden" name="__LASTFOCUS" id="__LASTFOCUS" value="">
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="w5owtvi1OIWfJB3qF/MGLq6MlUE6YTHtPACdlXccZcf947Sl1rGJkL3bSKmT8h5T8wSPuIRHvW53w8T8V8UVBXDdOBds/mFGYNwguZVaRacSPrn5YNiUW3EsauFFZF4B6koInN26mwNKb80qC8c/CkARn2bSVvZ+ZiZOpCJoptGyb4k1aN7oYBDjzvbcIrFCIjisiLqUfJZmoNF9FK5rM3/yxL1l5HU3exee2vUG0hPUbgINp9pVm6qG06KqT4TxrXk8Z2keQWu7ap6wi0Rlsjcm/7nMIkOQp6zwV1hU5e2/elZSNGcNBL7RQjcBtV9FnYfegfQRI9sUdgbX7RLoYYUkG/0iTsfdSsHQUbXBtN6jKVYOzkzm0sVG29LsI1+SIh3ma5eLvvrfx4JXLjMIws+Zs1yQHDfa3OfCUrmA5C+w1cGIkgCX6RQ72qBhO8WAjX6C7uTeM6xQjT0PQ6/yyxutQFYUxC0eLzzXpb8VWe0xa/yC03Byq+PK+wDaueHvBaATITDfyBNns9p0EeOavzbOBEFqB+1DtBJCLXxjS8HYkX+DPONBiFbCwMENcXAyOQ4jRdE6fEE3E/2LDziXAa1o52G57ptM5iWyEv9flgU=">
            </div>


            <div class="aspNetHidden">

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="1E9588AC">
            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="uEWgiKGEfBeQ7f/OpXWnuYvikrzCkmYnwGlY4S7a2DLTdfW72dXJTjOI6JPgjTh5eNLkAN87MCfkHnwIojT2folFP1VMYvKYYQEPyzgpIb0rvk/eytPE1GweQoPn5Fm8B++0oWocQWcAsKGOny7XGF3/krvblcb5eDO9sqzeJeMJ6Y/GX1WWEvBwfvOEYyG98rOeGuTcUvY4UMdCi1uKo8FrysHP02W8Qg3NtFGtfddooP992NiKJ/hn6qyNhMstCz15EAZS/ulfrDOMhlwcGdWuC+ptwXlgPFAiE5rFlGNBHzciiDVTnlBj7fWDFez5EwUl6uWTCRk564+GDi6UJHxcyat68iquVNPykiIHr3f4+elW1ADUm2pg0iiomfVG05/j7E0p+WtyXqT5H4Ttx6aatTs/J4h4pCJA/jRrYU+zmybzmcwv6y7LUYKQawxHhibsA0uimL10tUCjMvU3nJXKoBuTjaQLI/mcslBELzPkNtVyjWQYVdIi4pR/YMFEFG1yE9a1RmkD6m/nogQZfA==">
            </div>
                            <div class="content-doc">
                                <label for="txtnumerocliente">Nº Cliente<span class="ast">(*)</span></label>
                                <input name="txtnumerocliente" type="text" id="txtnumerocliente" class="field" onkeypress="return Val_texto(event,'numero')">
                            </div>
                            <br>
                            <label for="txtnombres">Fecha<span class="ast">(*)</span></label>
                            <input name="txtnombres" type="text" id="txtnombres" class="field" onkeypress="return Val_texto(event,'num_car')">
                            <br>
                            <br>
                            <label for="txttelefono">Estado<span class="ast">(*)</span></label>
                            <input name="txttelefono" type="text" id="txttelefono" class="field" onkeypress="return Val_texto(event,'numero')">
                            <br>
                            <label for="txtemail">Prioridad<span class="ast">(*)</span></label>
                            <input name="txtemail" type="text" id="txtemail" class="field" onblur="javascript:Val_email()">
                            <br>
                            
                            <label for="ddlTipo">Tipo<span class="ast">(*)</span></label>
                            <select name="ddlTipo" onchange="Limpiar();setTimeout('__doPostBack(\'ddlTipo\',\'\')', 0)" id="ddlTipo">
                                  <option selected="selected" value="0">--Seleccione--</option>
                                  <option value="1">RECLAMO</option>
                                  <option value="2">REPORTE</option>

                                </select>
                            
                            <br>
                            <label for="txtproblema">Descripcion del Reclamo<span class="ast">(*)</span></label>
                            <textarea name="txtproblema" rows="2" cols="20" id="txtproblema" onkeypress="return Val_texto(event, 'esp_car')" style="font-weight:normal;"></textarea>
                            
                            <br>
                            
                            <input type="button" name="btnGenerar" value="Generar Reclamo" onclick="this.disabled=true;__doPostBack('btnGenerar','')" id="btnGenerar" class="buttonenviarFM">
                            <br>
                            <div class="clear"></div>
                            <label for="txtMensaje"></label>
                            

                        </form>
                    </div>
                    <!--end Form-->

                   


</body>
</html>